section.product-result
  .main-wrapper
    h2.section-title 
      span Feijão Sanes

    ul.product-result-list
      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg

      li.product-result-item
        .image-wrap
          img(src="assets/img/produtos/feijao-sanes.png", alt="")
        .text-wrap
          p.product-name Feijão Sanes
          p.package Fardos de 30kg
          p.package-info 30 embalagens de 1kg
