.border
  border 1px dashed red

.highlight
  background alpha(red, .2)

.no-scroll
  overflow hidden

.font-300
  font-weight 300
.font-400
  font-weight 400
.font-700
  font-weight 700
  
.center
  text-align center
  flex 1
  display flex
  align-items center
  justify-content center
  flex-direction column
  
.margin
  margin 20px 0
  
.no-padding
  padding 0 !important
  
.orange-bg
  background-color alpha(orange, .7)
  padding 60px 30px 30px 30px !important

ul.old
  margin 40px 20px
  font-old()  
  font-size 2rem
ul.nunito
  margin 40px 20px
  font-nunito()
  font-size 2rem