section.about-sanes
  
  background-image url(../img/background_about-sanes.jpg)
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding 40px 0

  font-old()
  color fontBrown
  text-align center
  
  border-bottom 12px solid navy

  h2.about-sanes-title
    font-size 2.5rem
    font-weight 700
    text-transform uppercase

  p
    font-size 2rem
    center(670px)
    line-height 1.3
    margin 30px auto