section.cards
  margin-top 30px
  
  .flex
    +at('mobile')
      flex-direction column

.card
  col(1/2, cycle: 2, gutter: 2)
  background-color alpha(black, .1)
  padding 20px

  display flex
  
  +at('mobile')
    col(1, uncycle: 2)
    margin-bottom 20px

  +below(500px)
    flex-direction column
  
  .image-wrap
    flex 40
    position relative    
    
    &:after
      content '' 
      display block
      padding-bottom 100%

    +below(500px)
      max-width initial
      
    .content
      absolute top left
      background-color alpha(black, .7)
      size(100%)
      
      display flex
      align-items center
      justify-content center
      overflow hidden

    img
      height 100%
      // width 100%
      

  .text-wrap
    flex 60
    display flex
    flex-direction column
    padding-left 20px
    
    +below(500px)
      padding-top 20px
      padding-left 0
    
    .card-title
      color #754c24
      font-size 2rem
      margin-bottom 10px
        
      +below('tablet')
        font-size 1.6rem
        
    .card-subtitle
      color #754c24
      font-size 1.3rem
      line-height 1.3
      margin-bottom 20px
                
    .card-info
      margin-bottom 10px
      
      span.date
        font-size 1.5rem
        color #a07e5c
        
        +below('tablet')
          font-size 1.2rem
                    
        &:after
          content ' | '
        
      span.type
        font-size 1.3333rem
        text-transform uppercase
        font-weight 300
        letter-spacing -1px
        color #837c75

        +below('tablet')
          font-size 1.2rem
