section
  .section-display
    position relative
    margin-top -150px
    padding-top 150px

    background-position center center
    background-size cover
    background-repeat no-repeat
    overflow hidden
    
    +below(1280px)
      margin-top -120px
      padding-top 120px
    
    +at('tablet')
      margin-top -100px
      padding-top 100px
      
    +at('mobile')
      margin-top -80px
      padding-top 80px

    &:before
      position absolute
      top 0
      content ''
      display block
      width 100%
      height 150px
      background-color alpha(white, .7)

      +below(1280px)
        height 120px
      
      +at('tablet')
        height 100px
        
      +at('mobile')
        height 80px  
        
    p.section-display-phrase
      background-color alpha(black, .5)
      center(900px)
      font-old()
      padding 50px 70px
      margin 120px auto

      color white
      font-size 2.9rem
      font-style italic
      text-align center
      font-weight 400
      line-height 1.3
      
      +at('tablet')
        font-size 2.6rem
        margin 80px auto
        
      +at('mobile')
        font-size 1.4rem
        font-weight 300
        margin 50px auto
        padding 30px
        font-nunito()

  .section-title
    margin 20px 0
    padding-left 10px
    position relative
    font-old()
    font-size 3rem
    font-style italic
    letter-spacing -2px
    color navy
    
    display flex
    align-items baseline

    padding-bottom 6px
    border-bottom 2px solid navy
    
    +below('tablet')
      font-size 2.5rem
    
    &:before
      content ''
      display block
      position absolute
      size(160px 6px)
      top 100%
      left 0
      background navy
      
    img
      margin-right 10px
      max-height 20px
      
      &.big
        max-height 28px
      
    i.fa
      margin-right 10px
      font-size .7em
      
    span 
      flex 1