section
  .section-title
    margin 20px 0
    position relative
    font-old()
    font-size 3rem
    font-style italic
    letter-spacing -2px
    color navy
    
    display flex
    align-items baseline

    padding-bottom 6px
    border-bottom 2px solid navy
    
    &:before
      content ''
      display block
      position absolute
      size(160px 6px)
      top 100%
      left 0
      background navy
      
    img
      margin-right 10px
      max-height 20px
      
    i.fa
      margin-right 10px
      font-size .7em