.squares
  display flex
  align-items center
  justify-content center
  padding 30px 0

span.square
  display inline-block
  
  transform rotate(45deg)
  margin 0 10px
  
  &.navy
    background-color navy
    

  &.small
    size(8px)

  &.medium
    size(12px)

  &.big
    size(16px)