section.cards
  .main-wrapper.flex
    .card
      .image-wrap
        img(src="http://placehold.it/250x250", alt="")
      .text-wrap
        h3 Projeto degustação Sanes: O Prato do Chef - Super Prix.
        .card-info
          span.date 27/05/2016
          span.type Degustação

        .center
          a.btn.ribbon.navy(href="#") leia mais
    .card
      .image-wrap
        img(src="http://placehold.it/250x250", alt="")
      .text-wrap
        h3 Projeto degustação Sanes: O Prato do Chef - Super Prix.
        .card-info
          span.date 27/05/2016
          span.type Degustação

        .center
          a.btn.ribbon.navy(href="#") leia mais
