
- var cardTitle = 'Projeto visitação a indústria - Princesa Supermercados.'
- var cardImg = 'http://placehold.it/250x250'
- var cardSubtitle = ''
- var cardDate = '24/05/2016'
- var cardType = 'Visitação'
- var cardHref = '#'

section.cards
  .main-wrapper.flex
    include ../_elements/card
    include ../_elements/card