section.page-news-detail
  .main-wrapper.orange-bg
    nav.navigation
      a.voltar(href="#") Voltar

    .news-detail-wrap
      h1.news-title Inauguração do Mercado Costa Verde
      p.news-info
        span.date 29/06/2016
        span.type Inauguração

      .news-content-wrap
        .image-wrap

        .text-wrap
          h2.sub-title Coquetel de Inauguração do Costa Azul Campo Grande
          .divider.navy
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quidem iusto repellat. Reprehenderit aliquid distinctio sunt, quia, nemo numquam possimus et praesentium natus nisi aperiam, ab repudiandae atque neque ratione!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, ratione.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eveniet tempore rem, deleniti a. Molestias quis quae dolore enim perferendis iure animi ad nihil, voluptas vel, praesentium modi dignissimos amet temporibus unde excepturi suscipit quo officia aspernatur placeat maxime error.