section.featured-news
  .main-wrapper.orange-bg
    .news-wrapper
      .image-wrap
        img(src="https://scontent.fsdu2-2.fna.fbcdn.net/t31.0-8/13502997_151937925216287_9007388271449889674_o.jpg", alt="")
      .text-wrap
        h2 Coquetel de Inauguração do Costa Azul Campo Grande
        p.news-info-wrap 29/06/2016 | Inauguração
        p.brief Nesta quarta-feira foi inaugurado o supermercado Costa Azul Campo Grande e a equipe Sanes estava lá marcando presença. Com um stand próprio oferecemos uma deliciosa degustação de receitas feitas com os nossos produtos.
        .center
          a.btn.ribbon.navy leia mais