section.news-simple-display
  .main-wrapper
    ul.news-simple-list
      include ./simple-news-example
      include ./simple-news-example
      include ./simple-news-example
      include ./simple-news-example
      include ./simple-news-example
      include ./simple-news-example