li.news-simple-item
  a(href="detalhe-noticia.html")
    img(src="assets/img/icons/icon_news_brown.png", alt="")

    .news-brief-wrap
      span.date 03/07/2016
      span.type Bacalhau

    h5.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, aliquam!
