footer.sanes-footer
  .image-tiles #[img(src="assets/img/footer-photos.jpg", width="100%", alt="")]

  .sanes-information
    .main-wrapper
      h1 Sanes Brasil
      p Avenida Rio de Janeiro, s/n Lote 3 Quadra 10,
      p Distrito Industrial, Queimados/ RJ
      p E-mail: #[a(href="mailto:sanes@sanesbr.com.br") sanes@sanesbr.com.br]
      p cep. 26373-270



// build:js assets/scripts/vendor.js

script(src="./assets/vendor/jquery/dist/jquery.min.js")

// endbuild

// build:js assets/scripts/main.js

script(src="./assets/js/menu.js")
script(src="./assets/js/recipe.js")

// endbuild