header.sanes-header
  #mobile-menu
    ul.mobile-menu-list
  .main-wrapper
    nav.tool-bar
      .hamburger-menu-flex #[span]
      ul.header-menu-list
        li.header-menu-item.active #[a(href="./index.html") Home]
        li.header-menu-item #[a(href="./atividades.html") Atividades]
        li.header-menu-item #[a(href="#") Gastronomia]
    h1.logo
      a(href="./index.html")
        img(src="assets/img/logo-sanes.png", alt="")
    nav.tool-bar
      ul.header-menu-list
        li.header-menu-item #[a(href="#") Produtos]
        li.header-menu-item #[a(href="#") Sobre]
        li.header-menu-item #[a(href="#") Contato]
