meta(charset='utf-8')
meta(name='keywords', content='')
meta(name='description', content='')
meta(name='author', content='usabit.com.br')
meta.viewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Favicon
//- link(rel='shortcut icon', href='img/favicon.ico')

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300,400,700|Old+Standard+TT:400,400i,700')
  
// build:css assets/css/vendor_combined.css

link(rel="stylesheet", href="assets/vendor/font-awesome/css/font-awesome.min.css")

// endbuild

link(rel='stylesheet', href='assets/css/main.css')
