extend _layout

block extraHead
  title Sanes
  
block content

  section.page-activity

    include _partials/activities/section-display
    include _partials/activities/institutional

  include _partials/fonts

block extraFooter