extend _layout


block extraHead
  title Sanes
  
block content
  
  include _partials/gastronomy/gastronomy-featured
  include _partials/gastronomy/gastronomy-cards
  include _partials/gastronomy/gastronomy-more-recipes
  include _partials/gastronomy/gastronomy-simple-recipe-list

  //- include _partials/fonts
block extraFooter