extend _layout

block extraHead
  title Sanes
  
block content

  section.page-index

    img.banner-fake(src="assets/img/banner-fake.jpg", alt="")

    include _partials/index/product-category-list
    include _partials/index/product-display-list
    include _partials/index/about-sanes
    include _partials/squares
    include _partials/index/recipe-index
    include _partials/index/news-display



  //- include _partials/fonts

block extraFooter