extend _layout

block extraHead
  title Sanes
  
block content

  section.page-products

    include _partials/index/product-category-list
    include _partials/products/product-result
    include _partials/products/product-result


  //- include _partials/fonts

block extraFooter