extend _layout

block extraHead
  title Sanes
  
block content

  section.page-activity

    include _partials/about/section-display
    include _partials/about/institutional

  //- include _partials/fonts

block extraFooter
