section.institutional
  .main-wrapper
    h2.section-title
      img.big(src="assets/img/icons/icon_industria.png", alt="")
      span Indústria e Logística

    .content-wrap.inverted
      .image-wrap
        img(src="assets/img/logistica.png", alt="")
      .text-wrap
        h3 Comercialização, importação e distribuição de produtos
        p A SANES BRASIL conta com duas unidades no Estado do Rio de Janeiro: a comercial que está localizada no Mercado São Sebastião, no bairro da Penha e a indústria, no município de Queimados. A Central de Distribuição conta com 70.000 m2 e abriga uma moderna fábrica de grãos e instalações frigoríficas, com controle de temperatura e as mais modernas estruturas de armazenamento. Sempre objetivando o aperfeiçoamento e eficácia de seus serviços, a empresa implantou controles de qualidade e de estoque automatizado, integrados aos sistemas bancário e administrativo. A combinação da preocupação com a logística alinhada às iniciativas administrativas e comerciais responsáveis, proporcionam agilidade e domínio das operações, um atendimento de qualidade inigualável aos seus clientes.

        .divider.gray

    .content-wrap
      .image-wrap
        img(src="assets/img/industria.png", alt="")
      .text-wrap
        h3 Sanes Indústria
        p A Indústria Sanes reúne em Queimados os setores administrativo e comercial da empresa, auditório, sala de reuniões e também conta com cozinha, refeitório para os colaboradores e área de lazer.

        p O parque industrial, além do depósito e câmeras frigoríficas, possui equipamentos da mais alta tecnologia de industrialização e empacotamento de grãos, para conseguir alcançar a qualidade esperada em seus produtos e poder atender as expectativas de seus clientes de todo o Brasil, que mantém com a empresa uma relação de confiabilidade e lealdade. Possui, também, um departamento de controle de qualidade, que tem por objetivo estabelecer padrões em procedimentos, políticas e ações, de maneira uniforme. É um sistema que considera o grau de satisfação do consumidor, acionistas, funcionários, fornecedores e sociedade, como um todo. As propriedades de produtos, serviços, atendimentos ou ações são testadas, para a certificação de um padrão de excelência com a chancela da marca SANES.

        p E para manter qualidade do produto até que chegue ao seu cliente, a SANES BRASIL investiu em sua logística de distribuição, e hoje conta com uma frota sólida para garantir rapidez e pontualidade na entrega. 

    hr

    .content-wrap
      .image-wrap
        img(src="assets/img/mapa-logistica.png", alt="")
      .text-wrap
        h3 Sanes Indústria
        p A Indústria Sanes reúne em Queimados os setores administrativo e comercial da empresa, auditório, sala de reuniões e também conta com cozinha, refeitório para os colaboradores e área de lazer.

        .divider.gray
    .content-wrap
      .image-wrap
        img(src="assets/img/frota-logistica.png", alt="")
      .text-wrap
        h3 Sanes Indústria
        p A Indústria Sanes reúne em Queimados os setores administrativo e comercial da empresa, auditório, sala de reuniões e também conta com cozinha, refeitório para os colaboradores e área de lazer.