.section-display(style='background-image: url(assets/img/background_activity-page.jpg)')
  p.section-display-phrase “ A Central de Distribuição conta com 70.000 m2 e abriga uma moderna fábrica de grãos e instalações frigoríficas, com controle de temperatura e as mais modernas estruturas de armazenamento. ”
