section.institutional
  .main-wrapper
    h2.section-title
      img.big(src="assets/img/icons/icon_info.png", alt="")
      span Sobre a Sanes

    .content-wrap.inverted
      .image-wrap.video-format
        iframe(src="https://www.youtube.com/embed/vNAnKfnLTAc?rel=0", frameborder="0", width="100%", allowfullscreen)
      .text-wrap
        h3 Missão e valores
        p A Sanes Brasil, com mais de 50 anos de experiência em importação e exportação de produtos alimentícios, atende, atualmente, as demandas das mais importantes redes de supermercados, hipermercados e atacadistas do Brasil. Com uma equipe jovem - cujos diretores são pautados na tradição de valores familiares sólidos, administração, comprometida, responsável, mas ao mesmo tempo inovadora e arrojada -  a empresa lidera há mais de 20 anos a importação e comercialização de alhos, pescados e azeitonas, para todo o nosso país. E está saindo na frente, também, entre os principais distribuidores de pescados. No ano de 2011, a Sanes Brasil integrou-se ao Grupo Mineiro Tangará Foods, em uma parceria que visa atender com ainda mais excelência o mercado nacional.

        .divider.gray

    hr

    .content-wrap
      .image-wrap
        img(src="assets/img/about-marcasanes.jpg", alt="")
      .text-wrap
        h3 MARCA SANES
        p A Marca Sanes se baseia e se fortalece nos valores ensinados pelo patriarca da família Gonçalves, Sr. Herculano Gonçalves: Trabalho, Simplicidade e Honestidade. Foram estes ensinamentos que incentivaram seu filho, Herculano Gonçalves e seu genro, Paulo Jorge, a construírem uma empresa ética, que mescla a tradição e a modernidade em serviços comprometidos com seus parceiros comerciais e seus colaboradores. Um produto importado e distribuído pela SANES do Brasil é garantia de qualidade.

        .divider.gray

    .content-wrap.inverted
      .image-wrap
        img(src="assets/img/about-responsabilidade.jpg", alt="")
      .text-wrap
        h3 RESPONSABILIDADE SOCIAL
        p  Os planejamentos de Marketing da SANES BRASIL priorizam o incentivo a projetos sócio culturais esportivos que agregam valores à solidez da marca e seu caráter institucional.
        p O Diretor Comercial da empresa, Herculano Oliveira, explica que a implementação de todas as ações da Sanes Brasil, incluindo programas de responsabilidade social, tem por objetivo a valorização da política de relacionamentos com seus parceiros comerciais, colaboradores e sociedade em geral. Paulo Jorge, Diretor Administrativo, ressalta a missão institucional, voltada para os serviços prestados com qualidade, lealdade e comprometimento ético. 

        .divider.gray