.section-display(style='background-image: url(assets/img/background_about-page.jpg)')
  p.section-display-phrase “ Sempre objetivando o aperfeiçoamento e eficácia de seus serviços, a empresa implantou controles de qualidade e de estoque automatizado, integrados aos sistemas bancário e administrativo ”