section.about-sanes
  .main-wrapper
    h2.about-sanes-title Sobre a Sanes
    .divider.navy

    p A Sanes Brasil, com mais de 50 anos de experiência na Indústria e Comércio, Importação e Exportação de produtos alimentícios, atende, atualmente, as demandas das mais importantes redes de supermercados, hipermercados e atacadistas do Brasil.

    a.btn.ribbon.navy(href="sobre.html") saiba mais