section.news-display
  .main-wrapper
    h2.section-title
      i.fa.fa-newspaper-o
      span #{newsTitleBefore} Notícias #{newsTitleAfter}

    ul.news-list
      li.news-item
        a(href="#")
          .image-wrap
            img(src="https://scontent.fsdu2-2.fna.fbcdn.net/v/t1.0-9/13516311_151937921882954_6483023306638423056_n.jpg?oh=24517c43697357ab79b49d6789c513b6&oe=58340962", alt="")
          .date-type
            span.date 3/05/2016
            span.type Degustação
          .title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li.news-item
        a(href="#")
          .image-wrap
            img(src="https://scontent.fsdu2-2.fna.fbcdn.net/v/t1.0-9/13516311_151937921882954_6483023306638423056_n.jpg?oh=24517c43697357ab79b49d6789c513b6&oe=58340962", alt="")
          .date-type
            span.date 3/05/2016
            span.type Degustação
          .title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li.news-item
        a(href="#")
          .image-wrap
            img(src="https://scontent.fsdu2-2.fna.fbcdn.net/v/t1.0-9/13516311_151937921882954_6483023306638423056_n.jpg?oh=24517c43697357ab79b49d6789c513b6&oe=58340962", alt="")
          .date-type
            span.date 3/05/2016
            span.type Degustação
          .title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li.news-item
        a(href="#")
          .image-wrap
            img(src="https://scontent.fsdu2-2.fna.fbcdn.net/v/t1.0-9/13516311_151937921882954_6483023306638423056_n.jpg?oh=24517c43697357ab79b49d6789c513b6&oe=58340962", alt="")
          .date-type
            span.date 3/05/2016
            span.type Degustação
          .title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  .center.squares
    span.square.navy.medium
    span.square.navy.big
    a.btn.ribbon.navy(href="noticias.html") mais notícias
    span.square.navy.big
    span.square.navy.medium