section.news-display
  .main-wrapper
    h2.section-title
      i.fa.fa-newspaper-o
      span #{newsTitleBefore} Notícias #{newsTitleAfter}

    ul.photo-and-brief-list
      - var itemHref = '#'
      - var itemSrc = 'https://scontent.fsdu2-2.fna.fbcdn.net/v/t1.0-9/13516311_151937921882954_6483023306638423056_n.jpg?oh=24517c43697357ab79b49d6789c513b6&oe=58340962'
      - var itemDate = '3/05/2016'
      - var itemType = 'Degustação'
      - var itemTitle = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief

  .center.squares
    span.square.navy.medium
    span.square.navy.big
    a.btn.ribbon.navy(href="noticias.html") mais notícias
    span.square.navy.big
    span.square.navy.medium