ul.product-category-list
  li.product-category-item
    a(href="#")
      img.hover(src="assets/img/product-category-alho-hover.png", alt="")
      img.original(src="assets/img/product-category-alho.png", alt="")
      span Alho
  li.product-category-item
    a(href="#")
      img.hover(src="assets/img/product-category-cereais-hover.png", alt="")
      img.original(src="assets/img/product-category-cereais.png", alt="")
      span Cereais
  li.product-category-item
    a(href="#")
      img.hover(src="assets/img/product-category-frutassecas-hover.png", alt="")
      img.original(src="assets/img/product-category-frutassecas.png", alt="")
      span Frutas Secas
  li.product-category-item
    a(href="#")
      img.hover(src="assets/img/product-category-conservas-hover.png", alt="")
      img.original(src="assets/img/product-category-conservas.png", alt="")
      span Conservas
  li.product-category-item
    a(href="#")
      img.hover(src="assets/img/product-category-pescados-hover.png", alt="")
      img.original(src="assets/img/product-category-pescados.png", alt="")
      span Pescados