ul.product-display-list

  li.product-display-item
    a(href="#")
      .product-name Alho Sanes
      .image-wrap
        img(src="assets/img/product-display_alho.png", alt="")

  li.product-display-item
    a(href="#")
      .product-name Feijão Tio Lano
      .image-wrap
        img(src="assets/img/product-display_feijao-tio-lano.png", alt="")

  li.product-display-item
    a(href="#")
      .product-name Feijão Sanes
      .image-wrap
        img(src="assets/img/product-display_feijao-preto.png", alt="")

  li.product-display-item
    a(href="#")
      .product-name Azeitona Sanes
      .image-wrap
        img(src="assets/img/product-display_azeitona.png", alt="")

  li.product-display-item
    a(href="#")
      .product-name Lombo Reymar
      .image-wrap
        img(src="assets/img/product-display_lombo-reymar.png", alt="")