section.page-news-detail
  .main-wrapper.orange-bg
    nav.navigation
      a.voltar(href="#") Voltar

    h1.section-title Filé de Merluza Sanes ao Vinagrete
    
    .recipe-detail-wrap

      .image-wrap
        .image-container(style='background-image: url("http://www.bacalhaudanoruega.com.br/var/ezflow_site/storage/images/b2c/receitas/brasil/bacalhau-da-noruega-%C3%A0-gomes-de-s%C3%A1/555130-13-por-BR/Bacalhau-da-Noruega-%C3%A0-Gomes-de-S%C3%A1_large.jpg")')
      .text-wrap
        h3.recipe-step Ingredientes

        p.recipe-item 1 colher (chá) de óleo para pincelar
        p.recipe-item Sal e pimenta-do-reino a gosto
        p.recipe-item Suco de limão a gosto
        p.recipe-item 1 filé de merluza
        p.recipe-item PARA O VINAFRETE
        p.recipe-item 1kg de pimentões amarelos e vermelhos
        p.recipe-item 1/2 xícara (chá) de vinagre branco
        p.recipe-item 1/2 xícara (chá) de água
        p.recipe-item 5 dentes de alho Sanes
        p.recipe-item 3 folhas de louro
        p.recipe-item 1 colher (sopa) de sal

      .text-wrap
        h3.recipe-step Dica Sanes
        p.recipe-item Acompanhe seu filé com um arroz branco e pirão para montar uma refeição completa e leve.

      .text-wrap.howto
        h3.recipe-step Modo de Preparo
        p.recipe-item Tempere o Filé de Peixe Merluza Sanes (Bacalanor ou Jessy) com o suco de limão, o sal e a pimenta-do-reino
        p.recipe-item Pincele uma frigideira antiaderente com o óleo e grelhe o peixe até ficar cozido.
        p.recipe-item Sirva a seguir aplicando o molho Vinagrete ao Alho Sanes
        p.recipe-item PARA O VINAGRETE
        p.recipe-item Coloque todos os ingredientes em um refratário fundo
        p.recipe-item Tampe e leve ao microondas por 15 a 18 minutos na potência alta
        p.recipe-item Mexa na metade do tempo
        p.recipe-item Aguarde por 15 minutos em tempo de espera
        p.recipe-item Coloque os pimentões com o caldo formado em vifros esterelizados
        p.recipe-item Tampe e conserve em geladeira por até 15 dias ou em freezer por 3 meses
