section.page-news-detail
  .main-wrapper.orange-bg
    nav.navigation
      a.voltar(href="#") Voltar

    h1.section-title Filé de Merluza Sanes ao Vinagrete
    
    .recipe-detail-wrap

      .image-wrap
        .image-container
          img(src="http://www.bacalhaudanoruega.com.br/var/ezflow_site/storage/images/b2c/receitas/brasil/bacalhau-da-noruega-%C3%A0-gomes-de-s%C3%A1/555130-13-por-BR/Bacalhau-da-Noruega-%C3%A0-Gomes-de-S%C3%A1_large.jpg", alt="Bagalhau a Gomes de Sá")
      .text-wrap
        h3.recipe-step Ingredientes

        p.recipe-item 1kg de Bacalhau Bacanalor
        p.recipe-item 2 Pimentões
        p.recipe-item 1 Cebola
        p.recipe-item 3 Dentes de alho
        p.recipe-item Sal a gosto

        h3.recipe-step Modo de Preparo
        p.recipe-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis possimus nihil porro architecto ducimus rerum, iste fugiat distinctio ab quos, amet animi vitae aliquam error, non delectus sit ratione beatae tenetur culpa, quam eius omnis. Perspiciatis fuga itaque incidunt, provident?

      .text-wrap
        h3.recipe-step Ingredientes

        p.recipe-item 1kg de Bacalhau Bacanalor
        p.recipe-item 2 Pimentões
        p.recipe-item 1 Cebola
        p.recipe-item 3 Dentes de alho
        p.recipe-item Sal a gosto

        h3.recipe-step Modo de Preparo
        p.recipe-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis possimus nihil porro architecto ducimus rerum, iste fugiat distinctio ab quos, amet animi vitae aliquam error, non delectus sit ratione beatae tenetur culpa, quam eius omnis. Perspiciatis fuga itaque incidunt, provident?

      .text-wrap
        h3.recipe-step Ingredientes

        p.recipe-item 1kg de Bacalhau Bacanalor
        p.recipe-item 2 Pimentões
        p.recipe-item 1 Cebola
        p.recipe-item 3 Dentes de alho
        p.recipe-item Sal a gosto

        h3.recipe-step Modo de Preparo
        p.recipe-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis possimus nihil porro architecto ducimus rerum, iste fugiat distinctio ab quos, amet animi vitae aliquam error, non delectus sit ratione beatae tenetur culpa, quam eius omnis. Perspiciatis fuga itaque incidunt, provident?
