section.minimal-items
  .main-wrapper
    ul.minimal-list
      - var itemHref = 'detalhe-receita.html'
      - var itemIcon = 'assets/img/icons/icon_recipe_brown.png'
      - var itemDate = '03/07/2016'
      - var itemType = 'Bacalhau'
      - var itemTitle = 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
      include ../_elements/minimal-item
      include ../_elements/minimal-item
      include ../_elements/minimal-item
      include ../_elements/minimal-item
      include ../_elements/minimal-item
      include ../_elements/minimal-item
