section.cards
  .main-wrapper.flex
    - var cardTitle = 'Feijão ao alho.'
    - var cardImg = 'http://blogquecozinha.com.br/wp-content/uploads/2013/03/feij%C3%A3o-foto.jpg'
    - var cardSubtitle = 'Junte a família para saborear um delicioso feijão preto com alho feito com nossos produtos.'
    - var cardDate = '27/05/2016'
    - var cardType = 'Feijão'
    - var cardHref = 'detalhe-receita.html'
    include ../_elements/card

    //- ----------------------------------------------

    - var cardTitle = 'Gurjão de Polaca à Milanesa.'
    - var cardImg = 'http://photos.demandstudios.com/getty/article/88/161/200422765-001.jpg'
    - var cardSubtitle = 'Peixe fresquinho é um prato leve e saudável para toda família. À milanesa fica ainda mais gostoso.'
    - var cardDate = '13/05/2016'
    - var cardType = 'Polaca'
    - var cardHref = 'detalhe-receita.html'
    include ../_elements/card
