section.more-recipes
  .main-wrapper
    h2.section-title
      img.big(src="assets/img/icons/icon_more-recipes.png", alt="")
      span Mais Receitas

    ul.photo-and-brief-list
      - var itemHref = '#'
      - var itemSrc = 'http://www.wsue.net/wp-content/uploads/2011/06/bacalhau.jpg'
      - var itemDate = '3/05/2016'
      - var itemType = 'Lombo'
      - var itemTitle = 'Lombo Ipsum'
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief
      include ../_elements/photo-and-brief


  .center.squares
    span.square.navy.medium
    span.square.navy.big
    a.btn.ribbon.navy(href="noticias.html") mais receitas
    span.square.navy.big
    span.square.navy.medium
